.cart-page-container {
  width: 90%;
  max-width: 1400px;
  margin: 30px auto;
  display: flex;
  flex-direction: column;
}

#purchase-protection-box {
  background-color: #d7e6f5;
  border-radius: 12px;
  margin-bottom: 24px;
  padding: 20px;
  width: 100%;
  font-size: 13px;
  line-height: 18px;
  display: flex;
  align-items: center;
  color: #222222;
}

.fa-handshake-simple {
  font-size: 40px;
  color: #4d6bc6;
  margin-right: 15px;
}

#cart-discover-link {
  color: black;
  font-size: 16px;
  line-height: 28px;
  transition: opacity 200ms ease-out;
}

#cart-discover-link:hover {
  opacity: .3;
}

.cart-items-box {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 20px;
}

.cart-items-list {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 50%;
}

.place-order-box {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: .5em;
  position: fixed;
  top: 25vh;
  right: 10vw;
  width: 26%;
  height: 50vh;
  padding: 1.5em;
  border-radius: 1em;
}

.place-order-inner-box {
  display: grid;
  width: 100%;
  grid-template-columns: 5fr .2fr 1fr;
  align-items: center;
}

/* Payment options */

#payment-type {
  margin-top: 1em;
  border: none;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
}

#payment-legend {
  font-size: 1.2em;
}

.radio-container {
  display: flex;
  gap: 5px;
}

.payment-radio {
  width: 30px;
  height: 30px;
}

.payment-label {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 5em;
  height: 36px;
  padding: 2px;
  border: 1px solid #dddddd;
  border-radius: 5px;
  background-color: #eeeeee;
}

#master-toof-label {
  color: #eb001b;
  font-family: "Orkish"
}

#master-toof-icon {
  color: #f79e1b;
}

#space-pal-label {
  color: #20274f;
}

#orkle-label {
  color: var(--ork-green);
  font-family: "Orkle";
}

@font-face {
  font-family: "Orkle";
  src: url('../../fonts/PayPalSansBig-Regular-Klim.ttf');
}

.place-order-cost {
  margin-left: 20px;
  font-size: 16px;
  line-height: 28px;
  font-weight: normal;
}

#total-price {
  padding-top: 10px;
  border-top: 1px solid lightgray;
}

.place-order-button {
  color: white;
  border: none;
  border-radius: 24px;
  width: 85%;
  padding: 10px 20px;
  font-size: 16px;
  line-height: 28px;
  font-weight: bold;
  transition: 200ms all;
  align-self: center;
}

.place-order-button:hover {
  transform: scale(1.03);
  opacity: .9;
}

#checkout-popup {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background-color: #fdebd2;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  animation: fadeIn .3s;
}

#checkout-message {
  display: flex;
  flex-direction: column;
  width: 80%;
  margin-bottom: 40px;
}

.user-message-text {
  line-height: 18px;
  font-size: 15px;
}

.checkout-contact-links {
  align-self: center;
  display: flex;
  gap: 10px;
  margin-bottom: 10px;
}
