.cart-page-container {
  width: 90%;
  margin: 30px auto;
  display: flex;
  flex-direction: column;
}

#purchase-protection-box {
  background-color: #d7e6f5;
  border-radius: 12px;
  margin-bottom: 24px;
  padding: 20px;
  width: 100%;
  font-size: 13px;
  line-height: 18px;
  display: flex;
  align-items: center;
  color: #222222;
}

.fa-handshake-simple {
  font-size: 40px;
  color: #4d6bc6;
  margin-right: 15px;
}

#cart-discover-link {
  color: black;
  font-size: 16px;
  line-height: 28px;
  transition: opacity 200ms ease-out;
}

#cart-discover-link:hover {
  opacity: .3;
}

.cart-items-box {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 20px;
}

.cart-items-list {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 50%;
}

.place-order-box {
  border: 2px solid black;
  position: fixed;
  right: 10vh;
  top: 35vh;
  width: 30%;
  height: 50vh;
}
