.cart-page-container {
  width: 90%;
  margin: 30px auto;
  display: flex;
  flex-direction: column;
}

#purchase-protection-box {
  background-color: #d7e6f5;
  border-radius: 12px;
  margin-bottom: 24px;
  padding: 20px;
  width: 100%;
  font-size: 13px;
  line-height: 18px;
  display: flex;
  align-items: center;
  color: #222222;
}

.fa-handshake-simple {
  font-size: 40px;
  color: #4d6bc6;
  margin-right: 15px;
}

#cart-discover-link {
  color: black;
  font-size: 16px;
  line-height: 28px;
  transition: opacity 200ms ease-out;
}

#cart-discover-link:hover {
  opacity: .3;
}

.cart-items-box {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 20px;
}

.cart-items-list {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 50%;
}

.place-order-box {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 15%;
  position: fixed;
  right: 5vw;
  top: 30vh;
  width: 26%;
  height: 50vh;
  padding: 1.5em;
  border-radius: 1em;
  box-shadow: 1px 1px 5px 1px rgba(0, 0, 0, 0.2);
}

.place-order-box :nth-child(4) {
  padding-top: 10px;
  border-top: 1px solid lightgray;
}

.place-order-inner-box {
  display: grid;
  width: 100%;
  grid-template-columns: 5fr .2fr 1fr;
  align-items: center;
}

/* Payment options */

#payment-type {
  border: none;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.payment-label {
  border: 1px solid #dddddd;
  padding: 2px;
  background-color: #eeeeee;
}

.place-order-cost {
  margin-left: 20px;
  font-size: 16px;
  line-height: 28px;
  font-weight: normal;
}

.place-order-button {
  color: white;
  border: none;
  border-radius: 24px;
  width: 85%;
  padding: 10px 20px;
  font-size: 16px;
  line-height: 28px;
  font-weight: bold;
  transition: 200ms all;
  align-self: center;
}

.place-order-button:hover {
  transform: scale(1.03);
  opacity: .9;
}

#checkout-popup {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background-color: #fdebd2;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  animation: fadeIn .3s;
}

#checkout-message {
  display: flex;
  flex-direction: column;
  width: 80%;
  margin-bottom: 40px;
}

.user-message-text {
  line-height: 18px;
  font-size: 15px;
}

.checkout-contact-links {
  align-self: center;
  display: flex;
  gap: 10px;
  margin-bottom: 10px;
}
