.cartitem-card {
  width: 100%;
  display: grid;
  grid-template-columns: 2fr 1fr 1fr .5fr;
  align-items: center;
  text-decoration: none;
  box-sizing: border-box;
  box-shadow: 1px 1px 5px 1px rgba(0, 0, 0, 0.2);
  gap: 10%;
  border-radius: 5px;
}

.cartitem-card-image {
  width: 250px;
  height: 250px;
  border-radius: 6px;
  object-fit: contain;
  box-sizing: border-box;
  margin-left: 10px;
}

.cartitem-card-name {
  font-size: 14px;
  line-height: 1.6;
  font-weight: bold;
  color: black;
  text-decoration: none;
  transition: all 200ms ease-out;
  margin-bottom: 10%;
}

.cartitem-card-name:hover {
  opacity: .5;
}

.cartitem-card-price {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.6;
  margin-bottom: 10%;
}

.remove-from-cart-button {
  background: white;
  align-self: flex-end;
  margin-bottom: 10px;
  margin-right: 3px;
  border: none;
  padding: 6px 12px;
  border-radius: 20px;
  transition: 250ms all ease-out;
}

.remove-from-cart-button:hover {
  background: #d2d2d2;
}
