.product-page-container {
  width: 80%;
  max-width: 1500px;
  margin: auto;
  border: 1px solid black;
  display: flex;
  padding-top: 30px;
}

.product-page-image-container {
  width: 700px;
  height: 500px;
  border: 1px solid red;
}

.product-page-image {
  width: 700px;
  height: 500px;
  object-fit: contain;
}

.product-page-details-container {
  border: 1px solid green;
  width: 400px;
  height: 200px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-evenly;
}

.product-page-store-link {
  text-decoration: none;
}

.product-page-store-link:hover {
  text-decoration: underline;
}

.product-page-name {
  line-height: 32px;
  font-size: 26px;
}

.product-page-price {
  font-weight: bold;
  font-size: 28px;
}

.product-description-container {
  font-size: 17px;
  width: 80%;
  max-width: 1500px;
  margin: 20px auto;
  height: 100px;
}

#show-description-button,
#show-shipping-button {
  display: inline-flex;
  align-items: center;
  justify-content: space-between;
  background-color: transparent;
  border-radius: 5em;
  border: none;
  height: 30px;
  width: 300px;
  transition: all 300ms ease-in-out;
  font-size: 16px;
  font-weight: bold;
  line-height: 1.5;
}

#show-description-button:hover,
#show-shipping-button:hover {
  background-color: #e4e6e3;
}

#show-description-caret {
  color: black;
}

.product-description-text {
  
}

.shipping-info {
  display: flex;
  position: relative;
}
