.delete-page-container {
  margin-top: 1%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

#boompik-flava-text {
  margin-bottom: 10px;
  font-size: 16px;
}

#boompik {
  height: 400px;
  width: 500px;
  border-radius: 5px;
}

/* Buttons */

.delete-page-buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding-top: 2%;
  gap: 5%;
}

.confirm-delete-button,
.abort-delete-button {
  height: 50px;
  width: 250px;
  border-radius: 24px;
  font-size: 15px;
  transition: 200ms ease-out;
}

.confirm-delete-button:hover,
.abort-delete-button:hover {
  box-shadow: 1px 1px 3px lightslategray;
  transform: scale(1.05)
}

.confirm-delete-button {
  background-color: #832212;
  border: none;
  color: white;
}

.abort-delete-button {
  color: #1f5429;
  background-color: white;
  border: 1px solid darkgrey;
}
