.delete-page-container {
  margin-top: 1%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

#boompik-flava-text {
  margin-bottom: 10px;
  font-size: 18px;
}

#boompik {
  height: 400px;
  width: 500px;
  border-radius: 5px;
}

.delete-page-buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding-top: 2%;
  gap: 5%;
}

.confirm-delete-button {
  background-color: #832212;
  height: 50px;
  width: 250px;
  border-radius: 15px;
  font-size: 15px;
  border: none;
  color: white;
}

.confirm-delete-button:hover {
  box-shadow: 1px 1px 3px lightslategray;
  background-color: #6b010c;
  cursor: pointer;
}

.abort-delete-button {
  background-color: white;
  height: 50px;
  width: 250px;
  border-radius: 15px;
  font-size: 15px;
  border: 1px solid darkgrey;
}

.abort-delete-button:hover {
  box-shadow: 1px 1px 3px lightslategray;
  cursor: pointer;
}
