.profile-page-container {
  margin: 30px;
}

.profile-page-userinfo {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

#profile-page-avatar {
  height: 70px;
  width: 70px;
  border: 1px solid gray;
  border-radius: 5em;
}

#profile-page-username {
  font-size: 32px;
}

#profile-page-store-link {
  color: #7f7f7f;
  font-size: 18px;
  margin: 0 5px;
  transition: 250ms all ease-in;
}

#profile-page-store-link:hover {
  opacity: .6;
}

.orksy-explanation-container {
  margin: 50px auto;
  display: flex;
  flex-direction: column;
  padding: 10px;
  background-color: #ddebe3;
  border-radius: 14px;
  gap: 10px;
  box-shadow: 2px 2px 5px lightgray;
  animation: 500ms fadeIn linear;
}

.orksy-explanation-title {
  font-size: 24px;
  display: flex;
  justify-content: center;
}

.orksy-explanation-text {
  font-size: 14px;
  line-height: 1.5
}

#orkish-facts {
  list-style: upper-roman;
  padding-left: 20px;
}
