#welcome-message-container {
  display: flex;
  height: 80px;
  width: 100%;
  justify-content: center;
  align-items: center;
  background-color: #fdebd2;
  font-weight: 300;
}

#welcome-message-link {
  color: black;
  transition: opacity 200ms ease-out;
}

#welcome-message-link:hover {
  opacity: .3;
}

.categories-outer-container {
  display: flex;
  justify-content: center;
  gap: 50px;
  height: 180px;
  margin-bottom: 20px;
  background: linear-gradient(#fdebd2 41%, white 41%);
}

.category-link {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  height: 11em;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  transition: transform .5s;
  color: black;
  text-decoration: none;
}

.category-link:hover {
  transform: scale(1.05);
  border-bottom: 2px solid black;
}

.category-pic {
  height: 114px;
  width: 114px;
  border-radius: 50%;
  object-fit: cover;
  transition: box-shadow .5s;

}

.category-pic:hover {
  box-shadow: 0px 0px 10px grey;
}

.landing-page-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  width: 90%;
  max-width: 1400px;
  margin: auto;
  row-gap: 50px;
  column-gap: 20px;
}

@media (max-width: 960px) {
  .landing-page-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 400px) {
  .landing-page-grid {
    grid-template-columns: repeat(1, 1fr);
  }
}

.product-card-container {
  display: flex;
  justify-content: space-evenly;
  height: 270px;
  max-width: 400px;
}
