/* Site-wite styles here */

body {
  width: 100%;
  margin: 0;
  font-family: "Graphik Webfont",-apple-system,"Helvetica Neue","Droid Sans",Arial,sans-serif;;
}

body::before {
  display:block;
  content: '';
  height: 4em;
}

h2 {
  color: #1f5429;
}

input {
  border: 1px solid lightgray;
}

.required-star,
.error-message {
  color: red;
  font-weight: bold;
  font-size: 13px;
}

.error-message::before {
  content: "☠️ ";
}

.error-message::after {
  content: " ☠️";
}

label {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.4;
}

#no-page-message {
  font-size: 110px;
  margin-top: 150px;
  text-align: center;
  color: #1f5429;
}

.hover-cursor:hover {
  cursor: pointer;
}

/* Buttons */
.green {
  background-color: #1f5429;
}

.red {
  background-color: #832212;
}

button:hover {
  cursor: pointer;
}
