/* Site-wite styles here */

:root {
  --ork-green: #1f5429;
  --ork-red: #832212;
}

body {
  width: 100%;
  margin: 0;
  font-family: "Graphik Webfont",-apple-system,"Helvetica Neue","Droid Sans",Arial,sans-serif;
}

html {
  width: 100%;
  overflow-y: scroll;
}

body::before {
  display:block;
  content: '';
  height: 4em;
}

h2 {
  color: var(--ork-green);
}

input {
  border: 1px solid lightgray;
  font-family: "Graphik Webfont",-apple-system,"Helvetica Neue","Droid Sans",Arial,sans-serif;
}

textarea {
  resize: none;
  font-family: "Graphik Webfont",-apple-system,"Helvetica Neue","Droid Sans",Arial,sans-serif;
}

.required-star,
.error-message {
  color: red;
  font-weight: bold;
  text-align: center;
  font-size: .8em;
}

.error-message::before {
  content: "☠️ ";
}

.error-message::after {
  content: " ☠️";
}

label {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.4;
}

.hover-cursor:hover {
  cursor: pointer;
}

/* Buttons */
.green {
  background-color: var(--ork-green);
}

.red {
  background-color: var(--ork-red);
}

button:hover {
  cursor: pointer;
}
