#no-page-container {
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 90%;
  max-width: 1500px;
  margin-top: 50px;
}

#no-page-message {
  font-size: 48px;
  text-align: center;
  color: #1f5429;
  margin-bottom: 20px;
}

