.form-note {
  font-size: 12px;
}

input[type=file]::file-selector-button {
  background: #faf9f5;
  height: 80px;
  width: 100px;
  cursor: pointer;
  font-weight: bold;
  border-radius: 8px;
  border: none;
}

input[type=file]::file-upload-button {
  background-color: #faf9f5;
}

.fa-paperclip {
  color: #5d5d5d;
}

@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }
