.store-form {
  display: flex;
  flex-direction: column;
  width: 50%;
  margin-left: 50px;
  gap: 5px;
}

.store-form-greeting {
  font-size: 44px;
  color: #1f5429;
}

.store-form-intro {
  font-size: 16px;
}

.store-form-textarea {
  height: 125px;
}

.store-form-button {
  border-radius: 5em;
  height: 30px;
  background-color: white;
  color: #1f5429;
}

.store-form-button:hover {
  box-shadow: 1px 1px 3px lightgray;
}
