.store-form-container {
  display: flex;
  justify-content: space-evenly;
  width: 95%;
  margin: 30px auto;
}

.store-form {
  display: flex;
  flex-direction: column;
  width: 50%;
  margin-left: 2%;
  gap: 5px;
  border: 1px solid #e4e6e3;
  padding: 20px;
}

.store-form-greeting {
  font-size: 44px;
  color: var(--ork-green);
}

.store-form-intro {
  font-size: 16px;
}

.store-form-input {
  height: 38px;
  padding: 0 10px;
  border-radius: 5px;
}

.store-form-input:hover,
.store-form-textarea:hover {
  border: 1px solid var(--ork-green);
}

.store-form-input:focus,
.store-form-textarea:focus {
  outline: 2px solid var(--ork-green);
  outline-offset: 2px;
}

.price-input {
  width: 20%;
  box-shadow: inset 1px 1px 5px #e4e6e3;
}

.store-form-textarea {
  padding: 10px;
  height: 125px;
  min-height: 125px;
  min-width: 75%;
  max-width: 100%;
  font-size: 14px;
  border: 1px solid rgba(34, 34, 34, 0.15);
  box-shadow: 0 1px 4px rgb(34 34 34 / 10%);
  border-radius: 3px;
}

.store-form-button {
  border-radius: 5em;
  height: 35px;
  color: white;
  transition: all 250ms ease-in-out;
  width: 180px;
  align-self: flex-end;
  margin-top: 10px;
  font-weight: bold;
  border: none;
}

.store-form-button:hover {
  transform: scale(1.03);
  opacity: .8;
}

.form-image {
  width: 30%;
  height: auto;
}
