/* USER REVIEWS */

.profile-page-review-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.user-reviews-header {
  width: 100%;
  border-bottom: 1px solid #d2d2d2;
  padding: 20px 0;
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.user-reviews-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  gap: 30px;
  
}

.user-review-card {
  margin: 10 auto;
  display: flex;
  flex-direction: column;
  background: #ffffff;
  border: 1px solid #d2d2d2;
  width: 40%;
  border-radius: 5px;
  box-shadow: 1px 1px 5px 1px #e6e6e5;
}

.user-review-card-box-1 {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 100%;
  padding: 10px 0;
  border-bottom: 1px solid #d2d2d2;
  text-decoration: none;
  color: black;
  transition: all 250ms;
}

.user-review-card-box-1:hover {
  color: #d2d2d2;
}

.user-review-card-box-2 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 5px;
  padding: 10px 0;
  margin: 0 12px;
}

.review-card-image {
  width: 107px;
  height: 107px;
  border: 1px solid #d2d2d2;
  border-radius: 3px;
  padding: 3px;
  object-fit: contain;
}

.user-review-card-text {
  padding: 5px;
}

.user-review-buttons {
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-left: 12px;
  padding-bottom: 5px;
}
