
#storefront-banner {
  height: 325px;
  width: 100%;
  display: flex;
  align-items: center;
}

.storefront-owner-links {
  margin: 10px 0px 10px 40px;
  display: flex;
  flex-direction: row;
}


#edit-store-link,
#delete-store-link,
#create-product-link {
  font-weight: bold; 
  text-decoration: none;
  height: 40px;
  width: 140px;
  border-radius: 5em;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  margin: 0 5px;
}

#edit-store-link {
  background-color: #1f5429;
}

#delete-store-link {
  background-color: #832212;
}

#create-product-link {
  background-color: #291f54;
  border: 1px solid black;
  margin: 10px;
}

#edit-store-link:hover,
#delete-store-link:hover,
#create-product-link:hover,
#delete-product-button:hover {
  box-shadow: 1px 1px 5px #757575;
}

.storefront-info-container {
  margin-left: 40px;
}

.storefront-info-name {
  font-size: 32px;
  margin: 10px auto;
}

.storefront-info-description {
  display: flex;
  justify-content: center;
  width: 66%;
  margin: auto;
}

.storefront-item-container {
  margin: 20px auto;
  width: 80%;
}

.storefront-item-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  margin: auto;
  column-gap: 20px;
}

#delete-product-button {
  border-radius: 5em;
  background-color: #832212;
  color: white;
  height: 30px;
  margin-top: 5px;
  border: none;
}
