.product-card {
  width: 100%;
  display: flex;
  flex-direction: column;
  text-decoration: none;
  color: black;
  /* border: 1px solid black; */
  box-sizing: border-box;
}

.product-card-image {
  height: 200px;
  max-width: 100%;
  border-radius: 2px;
  object-fit: cover;
}

.product-card-name,
.product-card-avg-rating {
  font-size: 14px;
  line-height: 1.6;
  font-weight: 400;
}

.product-card-price {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.6;
}
