.product-card {
  display: flex;
  flex-direction: column;
  text-decoration: none;
  color: black;
  border: 1px solid black;
}

.product-card-image {
  height: 200px;
  width: 200px;
}

.product-card-name {
  font-size: 16px;
}

.product-card-price {
  font-weight: bold;
  font-size: 18px;
}
