.navbar-container {
  display: grid;
  grid-template-columns: 1fr 6fr 1fr;
  align-items: center;
  width: 100%;
  position: fixed;
  z-index: 7000;
  top: 0;
  left: 0;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, .2);
  height: 70px;
  background-color: white;
}

.navbar-left {
  display: flex;
  justify-content: flex-end;
}

.navbar-right {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 15px;
}

@font-face {
  font-family: "Orkish";
  src: url('../../fonts/OrcHordeBB_Reg.otf')
}

#navbar-logo {
  font-size: 32px;
  color: var(--ork-green);
  text-decoration: none;
  font-family: Orkish;
}

@media screen and (max-width: 960px) {
  .navbar-container {
    grid-template-columns: 1fr 3fr 1fr;
  }
  
  .navbar-left {
    justify-content: center;
  }
}

@media screen and (max-width: 500px) {
  .navbar-container {
    grid-template-columns: 1fr 2fr 1fr;
  }
  
  .navbar-left {
    justify-content: center;
  }
}
