.navbar-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  position: fixed;
  z-index: 7000;
  top: 0;
  left: 0;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, .2);
  height: 70px;
  background-color: white;
}

.navbar-right {
  margin-right: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@font-face {
  font-family: "Orkish";
  src: url('../../fonts/OrcHordeBB_Reg.otf')
}

#navbar-logo {
  margin-left: 100px;
  font-size: 32px;
  color: #1f5429;
  text-decoration: none;
  font-family: Orkish;
}
