.searchbar-container {
  display: flex;
  justify-content: center;
  width: clamp(50px, 100%, 100%);
}

#searchbar {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#searchbar-input {
  width: 90%;
  height: 34px;
  border-radius: 24px;
  padding: 6px 18px;
  background-color: #f4f4f4;
  border: 2px solid black;
  font-size: 17px;
}

#searchbar-input:focus {
  background-color: #e7e7e7;
}

#searchbar-button {
  position: relative;
  right: 4%;
  border: none;
  height: 75%;
  background: none;
}

@media screen and (max-width: 960px) {
  #searchbar-button {
    right: 10%;
  }
}

#searchbar-button:hover {
  background-color: black;
  border-radius: 15px;
  color: white;
}
