.product-page-reviews-container {
  display: flex;
  flex-direction: column;
}

.product-page-review-card {
  margin: 10px 0;
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
}

.product-reviews-number {
  width: 90%;
  font-size: 26px;
  line-height: 42px;
  margin-bottom: 6px;
  border-bottom: 2px solid black;
  padding-bottom: 10px;
}

.product-page-button {
  color: white;
  border-radius: 24px;
  font-weight: bold;
  font-size: 16px;
  transition: all 250ms ease-in-out;
  padding: 12px 18px;
  border: none;
  width: 50%;
}

.product-page-button:hover {
  opacity: .9;
  transform: scale(1.03)
}

#leave-review-button {
  margin-top: 20px;
  margin-bottom: 10px;
}

.review-crud-box {
  display: flex;
  gap: 5px;
}

.reviewer-name {
  font-size: 13px;
  color: #7f7f7f;
}

/* REVIEW FORMS */

.review-form {
  display: flex;
  flex-direction: column;
  min-height: 340px;
  padding: 20px;
  gap: 10px;
}

.review-textarea {
  height: 150px;
  resize: none;
  border-radius: 6px;
  padding: 6px;
  line-height: 1.4;
}

.review-textarea:hover {
  border: 1px solid #1f5429;
}

.review-textarea:focus {
  outline: 1px solid #1f5429;
  border: 1px solid #1f5429;
}

#delete-review-modal {
  padding: 40px;
}

.rating-radio {
  display: none;
}


