.product-page-reviews-container {
  display: flex;
  flex-direction: column;
}

.product-page-review-card {
  margin: 10px 0;
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
}

.product-reviews-number {
  font-size: 26px;
  line-height: 42px;
  margin-bottom: 6px;
  border-bottom: 2px solid black;
  padding-bottom: 10px;
}

.product-page-button {
  color: white;
  border-radius: 24px;
  font-weight: bold;
  font-size: 16px;
  transition: all 300ms ease-in-out;
  padding: 12px 18px;
  border: none;
  width: 50%;
}

.product-page-button:hover {
  transform: scaleX(1.1) scaleY(1.1);
}

#leave-review-button {
  margin-top: 20px;
}

.review-crud-box {
  display: flex;
  gap: 5px;
}

.reviewer-name {
  font-size: 13px;
  color: #7f7f7f;
}

/* REVIEW FORMS */

.review-form {
  display: flex;
  flex-direction: column;
  min-height: 340px;
  padding: 20px;
  gap: 10px;
}

.review-textarea {
  height: 150px;
  resize: none;
}

#delete-review-modal {
  padding: 40px;
}

.rating-radio {
  display: none;
}

/* USER REVIEWS */

.user-reviews-container {
  display: flex;
  flex-direction: column;
  width: auto;
  justify-items: center;
  gap: 30px;
}

.user-review-card {
  margin: 10 auto;
  display: flex;
  flex-direction: column;
  flex-wrap: no-wrap;
  background: #ffffff;
  border: 1px solid #d2d2d2;
  width: 780px;
  border-radius: 3px;
  box-shadow: 0 3px 0 #e6e6e5;
}

.user-review-card-box-1 {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 100%;
  padding: 10px 0;
  border-bottom: 1px solid #d2d2d2;
  text-decoration: none;
  color: black;
}

.user-review-card-box-1:hover {
  text-decoration: underline;
}

.user-review-card-box-2 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 5px;
  padding: 10px 0;
  margin-left: 12px;
}

.review-card-image {
  width: 107px;
  height: 107px;
  border: 1px solid #d2d2d2;
  border-radius: 3px;
  padding: 3px;
  object-fit: contain;
}

.user-review-buttons {
  display: flex;
  gap: 10px;
  margin-left: 12px;
  padding-bottom: 5px;
}
