.product-page-review-card {
  margin: 10px 0;
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
}

.product-reviews-number {
  font-size: 26px;
  line-height: 42px;
}

.product-page-button {
  color: white;
  border-radius: 24px;
  font-weight: bold;
  font-size: 16px;
  transition: all 300ms ease-in-out;
  padding: 12px 18px;
  border: none;
}

.product-page-button:hover {
  transform: scaleX(1.1) scaleY(1.1);
}

.review-crud-box {
  display: flex;
  gap: 5px;
}

.reviewer-name {
  font-size: 11px;
}

/* REVIEW FORMS */

.review-form {
  display: flex;
  flex-direction: column;
  height: 300px;
  padding: 20px;
  gap: 10px;
}

#delete-review-modal {
  padding: 40px;
}

.rating-radio {
  display: none;
}

/* USER REVIEWS */

.user-reviews-container {
  display: grid;
  grid-template-columns: repeat (2, 1fr);
  width: 80%;
  justify-items: center;
  gap: 5px;
}

.user-review-card {
  border: 1px solid black;
  width: 100%;
}
